body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.toggle {
    font-size: 14px;
    margin-bottom: 10px;
}

#error {
    color: red;
    font-size: 14px;
    text-align: center;
}

#showPassword {
    margin-right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    
}   